 @media (min-width:320px) and (max-width:1100px){
  /* ШАПКА */
    .services {
        padding-top: 15px;
        padding-bottom: 10px;
      }
      .services-content {
        margin: 0 auto;
        padding: 0px 20px;
        font-size: 35px;
        line-height: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
      }
     
      .location {
        padding-top:15px ;
        padding-bottom:10px;
        padding-left: 35px;
        color: inherit;
        text-decoration: none;
        background-image: url("../img/pin.svg"); 
        background-repeat: no-repeat;
        display: block;
        background-size: 25px;
      background-position: left;
      }
      .location:hover {
        opacity: 0.5;
      }
      
      .location:active {
        opacity: 0.3;
      }
      .additionalJs{
        display: flex;
        align-items: center;
      }
      .caption {
        margin: 0;
        margin-right: 10px;
        font-weight: bold;  
        text-transform: uppercase;
      }
      
      .theme-switcher {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        display: flex;
      }
      .theme-switcher li {
        margin-right: 10px;
      }
      .theme-switcher li:last-child {
        margin-right: 0;
      }
      .theme-button-light {
        display: block;
        width: 60px;
        height: 60px;
        padding: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: url("../img/sun.svg");
        background-size: 45px;
        border: 1px solid #00587A;
        border-radius: 50%;
        cursor: pointer;
      }
      .theme-button-light:hover {
        opacity: 0.5;
      }
      .theme-button-light:active {
        opacity: 0.3;
      }
      .theme-button-light.active {
        background-image: url("../img/sun-light.svg");
      }
      .theme-button-dark {
        display: block;
        width: 60px;
        height: 60px;
        padding: 0;
        background-image: url("../img/moon.svg");
        background-size: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: 1px solid #00587A;
        border-radius: 50%;
        cursor: pointer;
      }
      .theme-button-dark:hover {
        opacity: 0.5;
      }
      .theme-button-dark:active {
        opacity: 0.3;
      }
      .theme-button-dark.active {
        background-image: url("../img/moon-light.svg");
      }
      .fonts {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
      }
      .fonts li {
        margin-right: 10px;
      }
      .fonts li:last-child {
        margin-right: 0;
      }
      .font-button-sans-serif {
        display: block;
        width: 60px;
        height: 60px;
        padding: 0;
        background-color: transparent;
        border: 1px solid #00587A;
        border-radius: 50%;
        cursor: pointer;
        font-size: xx-large;
      }
      .font-button-sans-serif:hover {
        opacity: 0.5;
      }
      .font-button-sans-serif:active {
        opacity: 0.3;
      }
      .font-button-serif {
        display: block;
        width: 60px;
        height: 60px;
        padding: 0;
        font-family: "Philosopher", serif;
        background-color: transparent;
        border: 1px solid #00587A;
        border-radius: 50%;
        cursor: pointer;
        font-size: xx-large;
      } 
      .font-button-serif:hover {
        opacity: 0.5;
      }
      .font-button-serif:active {
        opacity: 0.3;
      }
     /* НАВИГАЦИЯ  */
     .main-nav {
      padding: 20px 20px;
      font-size: 32px;
      position: relative;
    } 
    .main-nav-toggle{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
     display: block;
     width: 80px;
     height: 60px;
     background-color: #e7e7de;
     cursor: pointer;
     border-style: solid;
     border-color: #163152;
     border-radius: 10px;
     border-width: 3px;
    
     }
     .main-nav-toggle:active{
      background-color: #9b5e5e;
     }
     .main-nav-closed .main-nav-toggle::before{
      content: "";
      position: absolute;
      top: 18px;
      left: 18px;
      width: 40px;
      height: 2px;
      background-color: #163152;
      box-shadow: 0 10px 0 0 #163152, 0 20px 0 0 #163152;
     }
     .main-nav-opened .main-nav-toggle{
      top: 0;
      right: auto;
      left: 0;
     }
     .main-nav-opened .main-nav-toggle::before{
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: #163152;
      transform: rotate(45deg);
      box-shadow: none;
     }
     .main-nav-opened .main-nav-toggle::after{
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: #163152;
      transform: rotate(-45deg);
     }
    .site-navigation.opened {
     list-style: none;
     text-align: center;
     margin-left: 25%;
     margin-right: 25%;
     padding: 0;
  } 
  .site-navigation.closed{
    display: none;
  }
   .site-navigation-item {
     margin-bottom: 20px;
    
    }
      
    .site-navigation-item a {
      color: inherit;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 2px solid #163152 ;
    }
    /* ОСНАВНАЯ ЧАСТЬ */
    .hero img{
    width: 100%;
    }
    .hero h1 {
      font-size: 35px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      padding: 15px 5px;
      margin: 0;
    }
    h2{
      font-size: 35px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      padding: 5px 5px;
      margin: 0;
      margin-top: 50px;
      line-height: 34px;
      text-align: center;
      text-decoration: underline;
      text-decoration-color:#CC4949;
      text-decoration-thickness: 2px;
      text-underline-offset: 15px;
      text-underline-position: under;
    }
    /* Кнопки переключения раскладки */
    .card-view-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      gap: 15px;
      padding: 0 20px;
      margin: 0;
      margin-bottom: 15px;
      list-style: none;
    }
    
    .card-view-button-grid {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("../img/grid.svg");
      border: 1px solid #163152;
      border-radius: 50%;
      cursor: pointer;
    }
    
    .card-view-button-grid:hover {
      opacity: 0.5;
    }
    
    .card-view-button-grid:active {
      opacity: 0.3;
    }
    
    .card-view-button-grid.active {
      background-image: url("../img/grid-light.svg");
    }
    
    .card-view-button-list {
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url("../img/list.svg");
      border: 1px solid #163152;
      border-radius: 50%;
      cursor: pointer;
    }
    
    .card-view-button-list:hover {
      opacity: 0.5;
    }
    
    .card-view-button-list:active {
      opacity: 0.3;
    }
    
    .card-view-button-list.active {
      background-image: url("../img/list-light.svg");
    }
    /* Карточки товаров */
    .cards {
    padding: 0 20px;
    margin: 0;
      list-style: none;  
    }
    .card {
      padding: 20px;
      box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
      margin-bottom: 30px;
      position: relative;

    }
    .card-img {
      display: block;
     margin: 0 auto;
     width: 45%;
     height: 55%;
    }
    .card-title {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    }
    .card-description {
      margin: 0;
      margin-bottom: 15px;
      font-size: 25px;
      line-height: 24px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      text-align: center;
    }
    .card-price {
      display: flex;
      justify-content: center;
      margin: 0;
      font-weight: bold;
      font-size: 30px;
      line-height: 21px;
    } 
    .card-price-name{
      margin-right: 10px;
    }
    .cards.list {
      flex-direction: column;
    }
    
    .cards.list .card {
      display: flex;
      width: 100%;
      margin-top: 0;
      margin-bottom: 30px;
      margin-right: 20px;
      margin-left: 20px;
    }
    
    .cards.list .card-img {
      
      margin: 0;
      margin-right: 30px;
      object-fit: cover;
    }
    
    .cards.list .card-title {
      margin: 0;
      margin-bottom: 10px;
    }
    
    
    .cards.list .card-content {
      margin-right: auto;
      max-width: 345px;
    }
    
    .cards.list .card-price {
      margin: 0;
    }
    
    .cards.list .card-price-name {
      display: none;
    }

    .switch_photo{
      background: none;
       background-image: url(/img/button.svg);
       width: 100px;
       height: 100px;
       border: none; 
       outline: none;
       cursor: pointer;
      
     }
     
     .switch_photo.left{
       position: absolute;
       top:215px;
       left: 160px;
       transform: rotate(90deg);
     }
     .switch_photo.right{
       position: absolute;
       top:215px;
       right: 160px;
       transform: rotate(-90deg);
     }
     .stop{
       display: none;
     }
     
    /* ГАЛЛЕРЕЯ */
    
    .gallery h2{
      margin-bottom: 40px;
    }
    .active-photo {
     width: 100%;
    }
    
    .preview-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }
    
    .preview-list li {
    margin-right: 30px;
    margin-top: 20px;
    }
    
    .preview-list li:last-child {
      margin-right: 0;
    }
    
    .preview-list a {
      position: relative;
      display: block;
    }
    
    .preview-list a::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.5);
    }
    
    .preview-list a.active-item::before {
      background-color: transparent;
    }
    
    .preview-list img {
      display: block;
    }
    /* КОНТАКТЫ */
    .contacts {
      margin-top: 50px;
      padding: 20px;
      font-size: 30px;
    }
    .contacts-content{
      text-align: center;
    }
   .contacts h2{
    margin-top: 0;
    margin-bottom: 50px;
   }
    .contact-items {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .contact-item {
      margin: 0;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }
    .contact-item:last-child{
      display: block;
      font-size: x-small;
    }
    .contact-item h3 {
      margin: 0;
      margin-right: 12px;
    
    }
    
    .contact-item address {
   
      font-style: normal;
    }
        
    .contact-item a { 
      color: #163152;
      text-decoration: none;
    }
    
    .contact-item a:hover {
      color: rgba(22, 49, 82, 0.5);
    }
    
    .contact-item a:active {
      color: rgba(22, 49, 82, 0.3);
    }
    
    .social-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      margin-top: 15px;
      list-style: none;
      display: flex;
      justify-content: center;
    }
    
    .social-item {
      margin-right: 15px;
      display:flex;
      align-items: center;
      justify-content: center;
    
    } 
    .social-item a{
      margin-right: 20px;
      
      font-size: xx-large;
    }
     .social-item img{
      margin-left: 10px;
    }
    
    .social-item a:hover {
      opacity: 0.5;
    }
    
    .social-item a:active {
      opacity: 0.3;
    } 
    .map{
      width: 100%;
      min-height: 320px;
      height: 100%;
      max-height: 500px;
    }
    /* ПОДВАЛ */
    .main-footer-content{
      text-align: center;
    }
    /* Выделение активной кнопки */

.active {
  background-color: #163152;
  color: #fdfdff;
}

/* Theme: serif font */

.page.serif {
  font-family: "Philosopher", serif;
} 

/* Theme: dark */

 .page.dark {
  color: #fdfdff;
  background-color: #1d1f1f;
} 

.page.dark .font-button-sans-serif {
  color: #fdfdff;
}

.page.dark .font-button-serif {
  color: #fdfdff;
}

.page.dark .theme-button-light {
  background-image: url("../img/sun-light.svg");
}

.page.dark .logo img {
  filter: brightness(20);
}

.page.dark a {
  color: #fdfdff;
}

.page.dark a:hover {
  opacity: 0.5;
}

.page.dark a:active {
  opacity: 0.3;
}

.page.dark .signin img {
  filter: brightness(20);
}

.page.dark .card-view-button-grid {
  background-image: url("../img/grid-light.svg");
}

.page.dark .card-view-button-list {
  background-image: url("../img/list-light.svg");
}

.page.dark .card {
  box-shadow: 0 4px 30px #181a1a;
}

.page.dark .meta time {
  color: rgba(253, 253, 255, 0.5);
}

.page.dark .share {
  filter: brightness(20);
}

.page.dark .social-item img {
  filter: brightness(20);
}

.page.dark .post-share {
  filter: brightness(20);
}

} 